<?php


$tbody = "";

$renglones = $datos_pdf;

$total_registros = count($renglones);



$data = array();

$corte_control = 33;


$cantidad_paginas =    round($total_registros/$corte_control, 0, PHP_ROUND_HALF_UP);


$total_subtotal_neto = 0;
$total_exento = 0;
$total_comprobante = 0;
$total_iva_21 = 0;
$total_iva_105 = 0;
$total_ib = 0;
$total_exento = 0;
$i=1;
$z=1;
$cant_pag=1;
$titulo = $datos_extra["titulo"].' '.$datos_extra["subtitulo1"];
$subtitulo1 = $datos_extra["subtitulo2"];
        $tbody .='
        
        <table width="100%" border="0">
  <tr>
    <td>'.$titulo.'</td>
   
  </tr>
  <tr>
    <td>'.$subtitulo1.'</td>
   
  </tr>
</table>
        
        
        <table width="100%"  cellspacing="1" cellpadding="2" style="font-family:\'Courier New\', Courier, monospace">
        
        
        ';
        
   
       
       
   
       
       

       
$tbody .='<tr style="background-color:rgb(224, 225, 229);text-align:center;font-size:12px;">
    
        <th class="sorting"  rowspan="1" colspan="1" style="width:7%;"><strong>Fecha</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:3%;"><strong>Tipo</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:12%;"><strong>Nro</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:23%;"><strong>R. Social</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:10%;"><strong>cuit</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:10%;"><strong>N. Gravado</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:5%;"><strong>Exento</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:8%;"><strong>I.V.A 21%</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:6%;"><strong>I.V.A 10,5%</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:7%;"><strong>IIBB</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:10%;"><strong>Total</strong></th>
        
    </tr>
';

foreach($renglones as $renglon){

  
  
   
   
   
   if($i-1 == $corte_control ) {
   
   
   
       $tbody .= "
         
       
       
       
       <tr style=\"font-size:12px;font-family:'Courier New', Courier, monospace\">";
      
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";       
       $tbody .= "<td>Transporte</td>";
       $tbody .= "<td align='right' >" .str_replace(".",",",$total_subtotal_neto). "</td>"; 
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_exento). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_iva_21). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_iva_105)."</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_ib)."</td>";
       $tbody .= "<td colspan='2' align='right'>" .str_replace(".",",",$total_comprobante)."</td>";
       $tbody .= "</tr>";
       $tbody .= "<tr style=\"font-size:12px;font-family:'Courier New', Courier, monospace\">";
      
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";       
       $tbody .= "<td></td>";
       $tbody .= "<td></td>"; 
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td colspan='2'></td>";
       $tbody .= "</tr>";
       
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";       
       $tbody .= "<td></td>";
       $tbody .= "<td></td>"; 
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td colspan='2'></td>";
       $tbody .= "</tr></table>";
       
       $tbody .= '<table width="100%" border="0">
                          <tr>
                            <td>'.$titulo.'</td>
                           
                          </tr>
                          <tr>
                            <td>'.$subtitulo1.'</td>
                           
                          </tr>
                        </table>';       
              
              
       $tbody .= '<table width="100%"  cellspacing="1" cellpadding="2" style="font-size:12px;font-family:\'Courier New\', Courier, monospace">';
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";       
       $tbody .= "<td>Transporte</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_subtotal_neto). "</td>"; 
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_exento). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_iva_21). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_iva_105)."</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_ib)."</td>";
       $tbody .= "<td colspan='2' align='right'>" .str_replace(".",",",$total_comprobante)."</td>";
       $tbody .= "</tr>";
       $tbody .= "</table>";
       $i = 1;
       ++$cant_pag;
     //$pdf->AddPage();
      //$pdf->setPage($cant_pag);
      $tbody .='
       <table width="100%"  cellspacing="1" cellpadding="2" style="font-family:\'Courier New\', Courier, monospace">
      <tr style="background-color:rgb(224, 225, 229);text-align:center;font-size:10px;">
    
        <th class="sorting"  rowspan="1" colspan="1" style="width:7%;"><strong>Fecha</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:3%;"><strong>Tipo</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:12%;"><strong>Nro</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:23%;"><strong>R. Social</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:10%;"><strong>cuit</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:10%;"><strong>N. Gravado</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:5%;"><strong>Exento</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:8%;"><strong>I.V.A 21%</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:6%;"><strong>I.V.A 10,5%</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:7%;"><strong>IIBB</strong></th>
        <th class="sorting"  rowspan="1" colspan="1" style="width:10%;"><strong>Total</strong></th>
        
    </tr>
    
';


       $total_subtotal_neto = $total_subtotal_neto + $renglon['Comprobante']['subtotal_neto']; 
       $total_exento +=$renglon['Comprobante']['exento']; 
       $total_iva_21 +=$renglon['Comprobante']['iva_21']; 
       $total_iva_105 +=$renglon['Comprobante']['iva_105']; 
       $total_ib +=$renglon['Comprobante']['total_ib']; 
       $total_comprobante +=$renglon['Comprobante']['total_comprobante'];
       
       
       
      $tbody .= "<tr style=\"font-size:10px;font-family:'Courier New', Courier, monospace\">";
       $tbody .= "<td align='left'>" .$renglon['Comprobante']['fecha_contable'] . "</td>";
       $tbody .= "<td align='left'>" .$renglon['Comprobante']['tipo_comprobante']. "</td>";
       $tbody .= "<td align='left'>" .$renglon['Comprobante']['nro_comprobante'] . "</td>";
       $tbody .= "<td align='left'>" .substr($renglon['Comprobante']['razon_social'],0,37) . "</td>";       
       $tbody .= "<td align='left'>" .$renglon['Comprobante']['cuit']. "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['subtotal_neto']). "</td>"; 
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['exento']). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['iva_21']). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['iva_105'])."</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['total_ib'])."</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['total_comprobante'])."</td>";
       $tbody .= "</tr>";
   }else{
   
       $total_subtotal_neto = $total_subtotal_neto + $renglon['Comprobante']['subtotal_neto']; 
       $total_exento +=$renglon['Comprobante']['exento']; 
       $total_iva_21 +=$renglon['Comprobante']['iva_21']; 
       $total_iva_105 +=$renglon['Comprobante']['iva_105']; 
       $total_ib +=$renglon['Comprobante']['total_ib']; 
       $total_comprobante +=$renglon['Comprobante']['total_comprobante'];
      
   
   
       $tbody .= "<tr style=\"font-size:10px;font-family:'Courier New', Courier, monospace\">";
       $tbody .= "<td align='left'>" .$renglon['Comprobante']['fecha_contable'] . "</td>";
       $tbody .= "<td align='left'>" .$renglon['Comprobante']['tipo_comprobante']. "</td>";
       $tbody .= "<td align='left'>" .$renglon['Comprobante']['nro_comprobante'] . "</td>";
       $tbody .= "<td align='left'>" .substr($renglon['Comprobante']['razon_social'],0,37) . "</td>";       
       $tbody .= "<td align='left'>" .$renglon['Comprobante']['cuit']. "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['subtotal_neto']). "</td>"; 
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['exento']). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['iva_21']). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['iva_105'])."</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['total_ib'])."</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$renglon['Comprobante']['total_comprobante'])."</td>";
       $tbody .= "</tr>";
   
   
   
   }
   ++$i;
   ++$z;
   
   
   if($z > $total_registros){
   
       $tbody .= "<tr style=\"font-size:12px;font-family:'Courier New', Courier, monospace\">";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";
       $tbody .= "<td></td>";       
       $tbody .= "<td>Totales</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_subtotal_neto). "</td>"; 
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_exento). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_iva_21). "</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_iva_105)."</td>";
       $tbody .= "<td align='right'>" .str_replace(".",",",$total_ib)."</td>";
       $tbody .= "<td colspan='2' align='right'>" .str_replace(".",",",$total_comprobante)."</td>";
       $tbody .= "</tr>";
    
   
   }
   
   
   
}





 
//agrego las observaciones







$html='';


$html .=' 
    
 
    '.$tbody.'
';

//ob_end_clean(); 
$file=$titulo." ".$subtitulo1.".xls";
header("Content-Disposition: attachment; filename=".$file);
echo $tbody;







?>
