<?php
   $abm->setController($this);
 //$abm->getListado();
?>



<div class="container" id="main-content">
    <div class="row">
    
    <div id="validationMsg_" class="col-sm-12">
    
    </div>
    	<div class="col-sm-12">
    	<?php
   $abm->getListado();
   
   
   
   ?>
   
   
    	
    	      </div>
	</div>
</div>


<script>
$(document).ready( function () {

 var table =   $('#myTable').DataTable( {
   "dom": 'Bfrtip',
     "buttons": [
         
      <?php echo  $abm->getButtonsDatatable() ?>
    ],
     "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "Ningun resultado - sorry",
            "info": "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtered from _MAX_ total records)",
             "loadingRecords": "Cargando...",
             "processing":     "Procesando...",
            "search":         "Busqueda:",
             "paginate": {
					        "first":      "Primero",
					        "last":       "Ultimo",
					        "next":       "Siguiente",
					        "previous":   "Previo"
					    }
        }
       
        
} );



    
    
} );



</script>