<?php
   $abm->setController($this);
 //$abm->getListado();
?>



<div  id="main-content" class="container">
    <div class="row">
    	<div class="col-sm-12">
    	<?php
   $abm->getListado();
   
   ?>
   
    	
    	      </div>
	</div>
</div>

