<?php
header("Content-type: application/vnd.ms-excel");

header ("Pragma: no-cache");

$html = ' <html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
  <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=ISO-8859-1"><head>
  <!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>Hoja 1</x:Name>
  <x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet>
  </x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body>'.$content_for_layout.'</body></html>'; 
echo $html;
?>