
	<div class="well">
		<legend><h4>Descarga de Manuales</h4></legend><div class="grid_12">
		<div class="" id="datatable_filter">
			</div>
	</div>
	<div class="pull-left" style="width:100%;">
	</div>
		<ul class="nav nav-pills nav-stacked">
		  <li class="active"><a href="<?php echo $link;?>">Manual de la aplicación web CeNIE</a></li>
		</ul>
	</div>