body{
	font: "Trebuchet MS", sans-serif;

	background-color:#ddd;
	background:url(images/fdo-sivit.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.demoHeaders {
	margin-top: 2em;
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}

.ui-accordion .ui-accordion-icons{
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	padding:12px 25px 12px 25px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background-color:#271566;
	border-color:#271566;
}
.table tr.red td i{
	color:#e50000;
}
.table tr.orange td i{
	color:#ff8b00;
}
.table tr.yellow td i{
	color:#f4d600;
}
.table tr td:first-child{
	width:20px;
}
.table tr td:last-child{
	width:20px;
}
.table tr td:last-child i{
	color:#50c7eb;
}
.navbar-brand{
	color:#FFF !important;
}
.navbar-light{
	background-color:#50c7eb;
}
.navbar-light .navbar-nav .nav-item a.nav-link{
	color:#FFF;
}
.navbar-light .navbar-nav .nav-item a.nav-link:focus{
	color:#0b2343;
}
.navbar-light .navbar-nav .nav-item a.nav-link:hover{
	color:#0b2343;
}
.navbar-light .navbar-toggler{
	color:#FFF;
}
#myTable thead{
	background-color:#271566;
	color:#FFF;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	border: 1px solid #50c7eb !important;
	background:none !important;
	background-color: #50c7eb !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	border: 1px solid #0b2343 !important;
	background:none !important;
	background-color: #0b2343 !important;
}

.dataTables_wrapper .dataTables_filter input{
	border:1px solid #DDD;
}
.navbar-toggler{
	background-color:#fff;
}
.navbar-toggler:hover{
	background-color:#eee;
}
#login .container #login-row #login-column #login-box {
  max-width: 600px;
  background-color: #FFF;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
.text-info{
	color:#0b2343 !important;
}
.btn-info{
	background-color:#0b2343;
	border-color:#0b2343;
	width:100%;
	padding-top:8px;
	padding-bottom:8px;
}
.btn-info:hover{
	background-color:#50c7eb;
	border-color:#50c7eb;
}

.table .thead-dark th {
	background-color:#271566;
	border-color:#271566;
	}
	

.dataTables_paginate{
	background-color:#271566;
	
}


.dataTables_filter{
	
		color:white !important;
}
.dataTables_info {
	background-color:#271566;
	color:white !important;
	font-weight: bold;
	padding-top: 10px;
	 padding-right: 10px;
    padding-left: 10px;
	
	}
	
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	color:white !important;
	font-weight: bold;
	
	
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	
	color:white !important;
	font-weight: bold;

	}
.logo{
	margin-bottom:30px;
	margin-top:20px;
	text-align:center;
}
.form-group{
	clear:left;
}
a.text-info:focus, a.text-info:hover{
	color:#50c7eb !important;
}

@media (max-width: 992px){ 
.dropdown-menu{
	background:none;
	border:0px;
}
}