<div class="grid_12" style="width:100%;align:center;" align="center">
	<div style="width:500px;">
		<ul class="nav nav-pills nav-stacked" style="max-width: 100%;align:center;">
			<li>
				<div style='height:100px'></div>
			</li>
			<li>
				<?php 
				echo $this->Html->image(Configure::read("homeLogo"), array('plugin' => false, 'alt' => 'App Logo', 'class' => 'logoicon')); 
			?>
			
		
			</li>
			<li class="active" >
				<a href="#"><h4 style='color:white;'><?php echo Configure::read("homeText"); ?></h4></a>
			</li>
		</ul>
	</div>
</div>