<div class="container_12">
            
            <div class="grid_12">
                <h1>Listado de Funciones</h1>
                <p></p>
                <br/><br/>
            </div>
            
            <div class="grid_6" style="width:100%;text-align:left;">
                    <?php echo $this->Html->link($this->Html->image('icons/packs/silk/16x16/add.png', array('plugin' => false)) . "&nbsp;" . "Testear", array('action' => 'test'), array('escape' => false, 'class' => '', 'title' => 'Nuevo', 'data-gravity' => 's'));?>
            </div>
            <div class="clear height-fix"></div>
</div>