<?php


$tbody = "";

$renglones = $datos_pdf;

$titulo = "Reporte Cheques";
$subtitulo1 = "";
        $html .='
        
        <table width="100%" border="0">
  <tr>
    <td>'.$titulo.'</td>
   
  </tr>
  <tr>
    <td>'.$subtitulo1.'</td>
   
  </tr>
</table>';

$html.='<table width="100%" border="0">
  <tr style="color:white;">
    <th  height="25" align="center" bgcolor="#0033FF"><strong>Numero Interno</strong></th>
    <th  align="center" bgcolor="#0033FF"><strong>Nro Cheque</strong></th>
    <th  align="center" bgcolor="#0033FF"><strong>Banco</strong></th>
    <th  align="center" bgcolor="#0033FF"><strong>monto</strong></th>
    <th  align="center" bgcolor="#0033FF"><strong>F.Vencimiento</strong></th>
    <th align="center" bgcolor="#0033FF"><strong>Clearing(dias)</strong></th>
    <th  align="center" bgcolor="#0033FF"><strong>Comprobante</strong></th>
    <th align="center" bgcolor="#0033FF"><strong>Cliente</strong></th>
  </tr>';
  
  
 foreach($renglones as $valor){
     
     $html.='<tr>
                <td>'.$valor['Cheque']['id'].'</td>
                <td>"'.$valor['Cheque']['nro_cheque'].'"</td>
                <td>'.$valor['Cheque']['d_banco'].'</td>
                <td>'.(string)str_replace('.',',',$valor['Cheque']['monto']).'</td>
                <td>'.$valor['Cheque']['fecha_clearing'].'</td>
                <td>'.$valor['Cheque']['dias'].'</td>
                <td>'.$valor['Cheque']['d_comprobante_entrada'].'</td>
                <td>'.$valor['ComprobanteEntrada']['Persona']['razon_social'].'</td>
          </tr>';
     
     
 }
 
 $html.='</table>' ;

$titulo ="Reporte Cheques";
$subtitulo1 = "";


//ob_end_clean(); 
$file="Reporte Cheques.xls";
header("Content-Disposition: attachment; filename=".$file);
echo $html;







?>
